table, th, td {
  border: 1px solid black;
  margin-left: 5px;
}

input{
  height: 30px;
  width: 40%;
  border: 2px solid black;
  box-shadow: 1px 1px 2px black;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 5px;
  border-radius: 5px;
}